* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Press Start 2P', cursive;
    color: #B9B9B9;
    display: flex;
    justify-content: center;
    background-color: #222;
}


.stage {
    height: 100vh;
    width: 80vw;
    z-index: 99999;
}

.scene {
    height: 50%;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.scene_img {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 50%;
    margin-left: 2rem;
    margin-right: 2rem;

}

.scene__character {
    display: flex;
    align-items: flex-end;
}

.scene__img--redhood {
    position: relative;
    height: 100px;
}
.scene__img--wolf {
    position: relative;
    height: 100px;
}

.story {
    position: relative;
    height: 60%;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}

.storyline {
    width: 60%;
    text-align: justify;
    padding-right: 4rem;
    padding-top: 2rem;
}

.continue button {
    color: #B9B9B9;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: #222;
    border: 0;
    padding-top: 2rem;
}

.option-wrapper button {
    padding: 1.5rem 2rem 1.5rem 2rem;
    background: linear-gradient(180deg, #898989 -17.61%, rgba(31, 18, 40, 0) 189.73%);
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #B9B9B9;
    margin-top: 2rem;
}

.option-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -4rem;
    margin-top: -6rem;
}

.continue-question {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 24px;
  }

.tv-frame {
    background: url(img/awesome-tv.png)  no-repeat scroll 0 0 transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99999;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}