@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
.game, .tv, .tv__box, .tv__screen, .tv__screen:after {
  height: 52vh;
  width: 65vh;
}

.game, .game__text .storyline, .game__text .storyfork, .game__text .storyfork .options, .tv, .tv__box, .tv__screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Syne Mono", monospace;
  font-size: 18px;
  line-height: 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.tv {
  background-color: #030303;
}
@media (orientation: portrait) {
  .tv {
    height: 100vh;
    width: 100vw;
  }
}
.tv__box {
  position: absolute;
  z-index: 100;
}
.tv__box img {
  max-width: 100%;
  transform: scale(1.93) translate(2.5%, 2.5%);
}
@media (orientation: portrait) {
  .tv__box {
    display: none;
  }
}
.tv__screen {
  background-color: #222;
  color: #b9b9b9;
}
.tv__screen--start, .tv__screen--game, .tv__screen--end {
  display: none;
}
.tv__screen--start.active, .tv__screen--game.active, .tv__screen--end.active {
  display: block;
  animation: fade-in 1000ms ease-in 100ms forwards;
}
.tv__screen--start, .tv__screen--end {
  text-align: center;
}
.tv__screen--start button, .tv__screen--end button {
  animation: blink 2s linear infinite;
  border: none;
  background: none;
  color: #b9b9b9;
  font-family: "Syne Mono", monospace;
  font-size: 1.2rem;
  padding-top: 1rem;
}
.tv__screen--start .controls-border, .tv__screen--end .controls-border {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  padding: 2px 10px;
}
.tv__screen--start h2, .tv__screen--end h2 {
  font-size: 2.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.tv__screen--start p, .tv__screen--end p {
  margin-top: 0.2rem;
}
@media (orientation: portrait) {
  .tv__screen {
    height: 100%;
    width: 100%;
  }
}
.tv__screen:after {
  content: "";
  background-image: url(/img/noise.png);
  opacity: 0.1;
  position: fixed;
  z-index: 0;
}
@media (orientation: portrait) {
  .tv__screen:after {
    display: none;
  }
}

.game {
  flex-direction: column;
}
@media (orientation: portrait) {
  .game {
    height: 100%;
    width: 100%;
  }
}
.game__img {
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (orientation: portrait) {
  .game__img {
    height: 25%;
  }
}
.game__img img {
  object-fit: cover;
  max-width: 100%;
}
@media (orientation: portrait) {
  .game__img img {
    max-width: auto;
    max-height: 100%;
  }
}
.game__img--actorA {
  position: absolute;
  height: 100px;
  bottom: 2rem;
  left: 4rem;
  z-index: 9999;
  filter: grayscale(100%);
}
.game__img--actorB {
  position: absolute;
  height: 100px;
  bottom: 2rem;
  right: 4rem;
  z-index: 9999;
  filter: grayscale(100%);
}
.game__text {
  height: 50%;
  width: 100%;
  padding: 20px 40px 40px;
  box-shadow: 0 0 5px 5px #222;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
@media (orientation: portrait) {
  .game__text {
    height: 75%;
  }
}
.game__text .storyline {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.game__text .storyline .paragraph {
  width: 100%;
}
.game__text .storyline .continue {
  width: 100%;
  text-align: end;
  align-self: flex-end;
  cursor: pointer;
  animation: blink 2s linear infinite;
}
.game__text .storyline.hidden {
  display: none;
}
.game__text .storyfork {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.game__text .storyfork .choice {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.game__text .storyfork .options {
  width: 100%;
  height: 50%;
  align-self: flex-end;
  z-index: 9999;
}
@media (orientation: portrait) {
  .game__text .storyfork .options {
    flex-direction: column;
    margin-top: 30px;
  }
}
.game__text .storyfork .options__button {
  padding: 10px 15px 10px 15px;
  background: linear-gradient(180deg, #898989 -17.61%, rgba(31, 18, 40, 0) 189.73%);
  font-family: inherit;
  font-size: 20px;
  color: #B9B9B9;
  margin: 0 10px;
  cursor: pointer;
}
@media (orientation: portrait) {
  .game__text .storyfork .options__button {
    width: 100%;
    margin: 10px;
  }
}
.game__text .storyfork.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
