@use 'variables' as var;

.game {
    @extend %screen-size;
    @extend %flex-center;
    flex-direction: column;

    @media (orientation: portrait) {
        height: 100%;
        width: 100%;
    }

    &__img {
        height: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;

        @media (orientation: portrait) {
            height: 25%;
        }
        

        img {
            object-fit: cover;
            max-width: 100%;

            @media (orientation: portrait) {
                max-width: auto;
                max-height: 100%;
            }
        }

        &--actorA {
            position: absolute;
            height: 100px;
            bottom: 2rem;
            left: 4rem;
            z-index: 9999;
        }

        &--actorB {
            position: absolute;
            height: 100px;
            bottom: 2rem;
            right: 4rem;
            z-index: 9999;
        }
    }

    &__text {
        height: 50%;
        width: 100%;

        padding: 20px 40px 40px;
        box-shadow: 0 0 5px 5px var.$dark;
        overflow: hidden;
        
        display: flex;
        flex-wrap: wrap;

        @media (orientation: portrait) {
            height: 75%;
        }

        .storyline {
            width: 100%;
            height: 100%;

            @extend %flex-center;
            flex-wrap: wrap;

            .paragraph {
                width: 100%;
            }

            .continue {
                width: 100%;
                text-align: end;
                align-self: flex-end;

                cursor: pointer;
            }

            &.hidden {
                display: none;
            }

        }
        .storyfork {
            width: 100%;
            height: 100%;

            @extend %flex-center;
            flex-wrap: wrap;

            .choice {
                width: 100%;
                text-align: center;
                font-size: 2rem;
                
            }
    
            .options {
                width: 100%;
                height: 50%;
                align-self: flex-end;
    
                @extend %flex-center;
    
                z-index: 9999;

                @media (orientation: portrait) {
                    flex-direction: column;
                    margin-top: 30px;
                }
    
                &__button {
                    padding: 10px 15px 10px 15px;
                    background: linear-gradient(180deg, #898989 -17.61%, rgba(31, 18, 40, 0) 189.73%);
                    font-family: inherit;
                    font-size: 20px;
                    color: #B9B9B9;
                    margin: 0 10px;
                    cursor: pointer;

                    @media (orientation: portrait) {
                        width: 100%;
                        margin: 10px;
                    }
                }
            }

            &.hidden {
                display: none;
            }
        }
    }
}